ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
h1 {
    margin: 0 0 0 0;
    margin-top: 30px;
    color: #000;
    font-weight: 300;
    font-size: 4.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 2.2em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000
}
h5 {
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.9em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "Dosis", sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 500;
    color: #000;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3;
    transition: color 0.3
}
a:hover, a:focus{
    color: #E94C3D;
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html {
    overflow-x: hidden
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a{ 
transition:all .3s; 
-moz-transition:all .3s; 
-webkit-transition:all .3s; 
-o-transition:all .3s;
color: #5B595C;
} 
a:hover{
    text-decoration: none;
}
body {
    width: 100%;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

.bst-block{
    float: left;
    display: inline-block;
    position: relative;
    padding: 0;
}

.bst-block .col-content{
    padding: 0;
}
.col-lightgray{
    background: #F4F4F4;
    color: #000;
}
.col-scarlet{
    color: #fff;
    background: #E94C3D;
}
.col-scarlet h1,.col-scarlet  h2,.col-scarlet  h3,.col-scarlet  h4,.col-scarlet  h5, .col-scarlet p{
    color: #fff;
}
.post-content{
    padding: 10px;
}

.post-content.promo{
    position: relative;
    display: block;
    padding: 10px 30px;
}

.post-content.promo h4{
    text-transform: uppercase;
}
.post-content.promo a.more{
    text-transform: uppercase;
    color: #FFF;
}
.post-content.promo a.more:hover{
    color: #000;
}
/*ICON*/
.icon-contact{
    text-align: center;
}
.icon-contact .fa, .icon-contact .glyphicon{
    font-size: 3em;
    color: #E94C3D;
}
/*> FOOTER <*/


.bg-cover {
    padding: 20px 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/bg-cover.jpg);
}
/*Maps*/
.maps-content{
    min-height: 300px;
}

.col-slider{
    position: relative;
    display: block;
}
/*Flexslider*/
.flexslider{
    border: none;
    margin: 0;
}
.col-slider .flexslider .slides > li{
    position: relative;
}

.col-slider .flexslider .caption {
    position: absolute;
    color: #ffffff;
    padding: 20px 10%;
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    text-shadow: none;
    font-family: 'Dosis', sans-serif;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}   

.col-slider .flex-direction-nav {*height: 0;}
.col-slider .flex-direction-nav a  { 
    text-decoration:none; 
    display: block; 
    width: 40px; 
    height: 40px; 
    margin: -20px 0 0; 
    position: absolute; 
    top: 40px;
    z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; 
    color: rgba(255, 255, 255, 1); 
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
    -webkit-transition: all .3s ease; 
    -moz-transition: all .3s ease; 
    transition: all .3s ease; 
}
.flex-direction-nav .flex-prev { left: -50px; text-align:right; left: auto;color: rgba(255, 255, 255, 1); }
.flex-direction-nav .flex-next { right: -50px; text-align: right; color: rgba(255, 255, 255, 1);  }
.col-slider .flexslider:hover .flex-prev { opacity: 0.7; right: 60px; left: auto; }
.col-slider .flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.col-slider .flexslider:hover .flex-next:hover, .col-slider .flexslider:hover .flex-prev:hover { opacity: 1; }

/*Slider Caption */
.slider-caption{
    position: relative;
    display: block;
}
.slider-caption .flexslider .caption{
    background: rgba(233, 76, 61, 0.7);
    height: 100%;
    color: #fff;
}
.slider-caption .flexslider .caption h3{
    color: #fff;
    text-transform: uppercase;
}
.slider-caption .flexslider .caption .btn{
    background: none;
    color: #fff;
    border: solid 2px #fff;
    font-size: 1.2em;
    height: auto;
}
.slider-caption .flexslider .caption .btn:hover{
    color: #000;
    border-color: #000;
}
/*Navigation*/
#header{
    background: #FFFFFF;
    color: #000;
}

#header ul.social-icon li > a > i.fa{
    font-size: 1.4em;
    color: #D3D3D3;
}

.navbar-white{
    background: #FFFFFF;
}
.navbar-white .navbar-nav > li{
    position: relative;
}
.navbar-white .navbar-nav > li > a{
    color: #000;
    text-transform: uppercase;
    color: #000;
}
.navbar-white .navbar-nav > li.active > a span{
    background: #FFF;
}
.navbar-nav > li.active > a{
    color: #DE513D;
    z-index: 9;
}

.navbar-nav > li.active:after, .navbar-nav > li.active:before {
    border-color: transparent transparent #FFF transparent ;
    border-style: solid;
    border-width:  0 0 50px 60px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 2px;
}

.navbar-nav > li.active:before {
    border-bottom-color: #D44537;
    top: 0;
}
.nav > li > a:hover, .nav > li > a:focus{
    color: #DE513D;
    background: none;
}

/*border-right: 1px solid #f2adac;
    transform: skewX(-20deg);
    transition: background 0.2s ease 0s, color 0.2s ease 0s;*/

#header .address{
    background: rgb(245,245,245); /* Old browsers */ /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding-top: 10px;
}

.address p{
    font-family: 'VerdanaRegular', sans-serif;
    color: #A6A6A6;
}

.address p a{
    color: #A6A6A6
}

/*Header*/


/*Bst-Content*/
.bst-content{
    position: relative;
    display: block;
    margin-bottom: 50px;
}
.bst-content .label{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 0;
    font-size: 1.5em;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}
.bst-content .block-label .post-content{
    padding-top: 50px ;
    padding-bottom: 50px;
}
.bst-content label.label-right{
    left: auto;
    right: 0;
}
/*Columns*/
.col-logo{
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.col-tagline{
    position: relative;
    display: block;
}

.col-tagline h3{
    font-size: 1.3em;
}

/*Content*/
.img-wrapper{
    position: relative;
    display: block;
}

.img-wrapper .caption-block{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(229, 66, 55, 0.8);
    width: 100%;
    text-align: center;
}

.img-wrapper .caption-block span{
    font-size: 3em;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
}
.col-heading{
    position: relative;
    display: block;
}
.col-heading .left-heading{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}
.col-heading .left-heading span.label{
    position: relative;
    display: block;
    width: 100%;
    float: left;
}
.col-heading .center-heading, .col-heading .right-heading{
    position: relative;
    display: block;
    margin:10px 0;
    font-family: 'Dosis', sans-serif;
}
/*Button*/
.bst-content .form-reservation .btn{
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    height: 34px;
}
.btn-red{
    background: #E8655B;
}
/*FORM RESERVATION*/
.form-horizontal .form-group{
    margin: 5px 0;
}
.form-control{
    border-color: #000;
    border-radius: 0;
}
.form-control:focus{
    border-color: #000;
}

div[class^="bst-col-"]{
    padding: 0;
}
/*List Rooms*/
.room-block{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper{
    position: relative;
    display: block;
    border-bottom: thin solid #000;
    float: left;
    margin-right: 50px;
}
.room-block .price{
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .col-price h5{
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-family: 'VerdanaRegular', sans-serif;
    font-size: 1.2em;
    color: #A00800;
}
.right-content{
    position: relative;
}
.right-content .more-info{
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a{
    color: #A00800;
    text-decoration: underline;
}
.list-rooms, .list-news{
    margin: 60px 0;
}
.detail-view{
    height: 350px;
    width: 100%;
}
.list-rooms.nano{
    width: 100%;
    height: 550px;
    overflow: hidden !important;
}
.nano > .nano-pane{
    right: 10px;
    width: 15px;
}

.nano > .nano-pane > .nano-slider{
    
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgb(255,255,255) 0%, rgb(243,243,243) 50%, rgb(237,237,237) 51%, rgb(255,255,255) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(243,243,243)), color-stop(51%,rgb(237,237,237)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* IE10+ */
background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}
.head-content{
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.head-content .col-heading h1{
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 10px;
}

.content-overview{
    position: relative;
    display: block;
    float: left;
    margin: 20px 0  50px;
}
.content-overview h2, .content-overview h1{
    font-size: 1.5em;
}
/*Modal Set*/
.modal-header{
    border: none;
}
.modal-body{
    padding: 0;
    position: relative;
    display: block;
    float: left;
    height: 100%;
}
.modal-body .modal-content-text{
    padding: 20px 40px;
}
.modal-header .modal-title{
    font-size: 2em;
    color: #000;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.modal-full-height .modal-dialog {
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
.modal-full-height .modal-content{
    height: 100%;
    border-radius: 0;
    color:white;
    overflow:hidden;
}
.modal-full-height .modal-content .close{
    font-size: 40px;
}
/*List Features*/
ul.list-features{
    padding-left: 0;
}

ul.list-features li:before{
    content : "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  color: #A00800;


}

/*News*/
.list-news{
    position: relative;
    height: 600px;
    margin-top: 55px;
}
.list-news .news-block .block-wrapper{
    position: relative;
    display: block;
    border-bottom: thin solid #000;
    float: left;
    margin: 10px 50px;
}
.list-news .news-block .block-wrapper h2{
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.list-news .news-block .block-wrapper p{
    font-size: 1em;
}

.list-news .news-block .block-wrapper .more-info a{
    color: #E94C3D;
    text-decoration: none;
    font-size: 1em;
}
/*** hover images ***/

.content-mason .img-block {
    position: relative;
}
.mask {
    position: absolute;
    top: 0;
    left: 0px;
    background: rgba(229, 66, 55, 0.8);
    display: none;
    z-index: 0;
}
.caption-block {
    display: none;
    position: relative;
}
.caption-block a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    position: relative;
}
.caption-block a span {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: normal;
    color: #fff;
    font-size: 3em;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
}
.mediaCaption {
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ie8 .mask {
    bacground: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
/*Group Icon*/
.input-group-addon{
    background: #F1F1F1;
    border-color: #000;
    border-radius: 0; 
}
.input-group-addon i.fa{
    color: #000;
}
.tri-top-bottom{
    position: relative;
}
.tri-top-bottom:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #F1F1F1 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #F1F1F1 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.tri-top-bottom:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #F1F1F1 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #F1F1F1 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}

/*select style*/
.select-custom{
    position: relative;
    display: block;
    width: 100%;
}
.select2-container{
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.select2-container .select2-choice{
    border-radius: 0;
    border-color: #000;
    background-image: none;
    height: 34px;
    line-height: 34px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow{
    border-radius: 0;
        background: #F1F1F1;
        border: none;
        width: 34px;
}
.select2-container .select2-choice .select2-arrow:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #F1F1F1 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #F1F1F1 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.select2-container .select2-choice .select2-arrow:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #F1F1F1 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #F1F1F1 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
.select2-container .select2-choice .select2-arrow b{
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice .select2-arrow b:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    line-height: 0px;
    _border-color: #000000 #ffffff #ffffff #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
}
.half-block{
    padding-left: 5px;
}
.half-block:first-child{
    padding-left:0;
    padding-right: 5px;
}
.half-block:last-child{
    padding-left:5px;
    padding-right: 0px;
}
/*UI WIDGET*/
.ui-widget{
    font-family: 'Dosis', sans-serif !important;
    font-size: 1.1em;
}
.ui-widget tr:nth-child(even) {background: #e8655b}
.ui-widget tr:nth-child(odd) {background: #FFF}

.ui-widget-content tr:nth-child(even) a{
    color: #fff;
}
/* Datepicker */
#ui-datepicker-div {
    padding: 20px !important;
}
#ui-datepicker-div .ui-datepicker-month,
#ui-datepicker-div .ui-datepicker-year {
    color: #5e5e5e;
    font-family: 'Comfortaa', sans-serif !important;
    text-transform: uppercase;
}
.ui-datepicker th{
    font-weight: normal;
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span{
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.ui-widget-content {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 1px solid #000 !important;
    -webkit-box-shadow: none;
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: -3px;
}
.ui-widget-header {
    background: none ;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid !important;
    border-left: none !important;
    font-weight: normal;
}
.ui-widget-header, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border-color: #C43C2F !important;
}
.ui-datepicker-header {
    -webkit-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #e1e1e1;
}
.ui-datepicker table {
    margin: 0 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: none 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid;
}
/* Grid */

#posts { margin: 0; }
.item-post {
    margin: 0;
    text-align: left;
    /*width: 100%;*/
}

ul.list-contact{
    margin: 0;
    padding: 0;
}

.col-grid.container .item-post img { padding: 0; }

.txt-red{
    color: #ED4A39;
}
/* Medium devices */

@media (min-width: 768px) {
    /*.col-grid > #posts .item-post { width: 335px; }*/
    .item-post img { padding: 0; }
}



/* Medium devices */

@media (min-width: 992px) {
    /*.col-grid > #posts .item-post { width: 445px; }*/
}



/* Large devices */

@media (min-width: 1200px) {
    /*.col-grid > #posts .item-post { width: 20%; }*/
    .col-grid > #posts .item-post.item-xs { width: 25%; }
    .col-grid > #posts .item-post.item-sm { width: 33.33333333% }
    .col-grid > #posts .item-post.item-lg { width: 41.66666667%; }
}



/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {
    .col-grid {
        display: block;
        position: relative;
    }
    .col-grid.container {
        left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*>  HELPER  <*/
.img-responsive-full {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.m_t_0{margin-top:0}
.m_r_0{margin-right:0}
.m_b_0{margin-bottom:0}
.m_l_0{margin-left:0}
.m_t_5{margin-top:5px}
.m_r_5{margin-right:5px}
.m_b_5{margin-bottom:5px}
.m_l_5{margin-left:5px}
.m_t_10{margin-top:10px}
.m_r_10{margin-right:10px}
.m_b_10{margin-bottom:10px}
.m_l_10{margin-left:10px}
.m_t_15{margin-top:15px}
.m_r_15{margin-right:15px}
.m_b_15{margin-bottom:15px}
.m_l_15{margin-left:15px}
.m_t_20{margin-top:20px}
.m_r_20{margin-right:20px}
.m_b_20{margin-bottom:20px}
.m_l_20{margin-left:20px}
.p_t_5{padding-top:5px}
.p_r_5{padding-right:5px}
.p_b_5{padding-bottom:5px}
.p_l_5{padding-left:5px}
.p_t_10{padding-top:10px}
.p_r_10{padding-right:10px}
.p_b_10{padding-bottom:10px}
.p_l_10{padding-left:10px}
.p_t_15{padding-top:15px}
.p_r_15{padding-right:15px}
.p_b_15{padding-bottom:15px}
.p_l_15{padding-left:15px}
.p_t_20{padding-top:20px}
.p_r_20{padding-right:20px}
.p_b_20{padding-bottom:20px}
.p_l_20{padding-left:20px}
.p_rl_5{padding-right:5px;padding-left:5px}
.p_rl_10{padding-right:10px;padding-left:10px}
.p_rl_15{padding-right:15px;padding-left:15px}
.p_rl_20{padding-right:20px;padding-left:20px}
.m_rl_-5{margin-right:-5px;margin-left:-5px}
.m_rl_5{margin-right:5px;margin-left:5px}
.m_rl_10{margin-right:10px;margin-left:10px}
.m_rl_15{margin-right:15px;margin-left:15px}
.m_rl_20{margin-right:20px;margin-left:20px}
.p_tb_5{padding-top:5px;padding-bottom:5px}
.p_tb_10{padding-top:10px;padding-bottom:10px}
.p_tb_15{padding-top:15px;padding-bottom:15px}
.p_tb_20{padding-top:20px;padding-bottom:20px}
.m_tb_5{margin-top:5px;margin-bottom:5px}
.m_tb_10{margin-top:10px;margin-bottom:10px}
.m_tb_15{margin-top:15px;margin-bottom:15px}
.m_tb_20{margin-top:20px;margin-bottom:20px}
.p_0{padding:0}
.p_5{padding:5px}
.p_10{padding:10px}
.p_15{padding:15px}
.p_20{padding:20px}
.p_25{padding:25px}
.p_30{padding:30px}